.story {
    padding: 10rem 2rem;

    @include breakpoint-down(medium) {
        padding: 5rem 2rem;
    }

    .container {
        height: 67vh;
        display: grid;
        grid-template-columns: 1.8fr 1fr;

        @include breakpoint-down(medium) {
            grid-template-columns: 1fr;
            grid-template-rows: 2.5fr 1fr;
        }
    }

    &__picture {
        background-image: url(../images/desktop/image-interactive.jpg);
        background-size: cover;
        background-position: center;

        @include breakpoint-down(medium) {
            background-image: url(../images/mobile/image-interactive.jpg);
            background-position: center;
        }
    }

    &__text {
        align-self: end;
        justify-self: center;
        padding: 6rem 0 0 6rem;
        background-color: $white;

        .paragraph {
            margin-top: 3rem;
        }

        transform: translateX(-25%);

        @media only screen and (max-width:750px) {
            padding: 3rem 0 0 3rem;
        }

        @include breakpoint-down(medium) {
            transform: translateX(0);
            padding: 2rem;
        }

    }
}